.photos{
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; 
  position: relative;
}

.photoAlbum{
  animation: bounce-in-bottom 1.1s both;
  animation-delay: 1s;
  position: absolute;
  border: 0.3em solid black;
  background-color: black;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  overflow: hidden;
}


.photos_title{
  font-family: 'thunderblack';
  color: white;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0.3em;
  margin-bottom: 0.6em;
  text-shadow: 3px 4px 0px rgb(0, 0, 0);
  -webkit-text-stroke: 3px #000000;
}

.photo_resume{
  position: relative;
  top: -1.5em;
  background-color: #ffffff;
  border: 0.3em solid #000000;
  border-radius: 3em;
  text-align: center;
  margin: 1em 3em;
  padding: 1em;
  color: #363f57;
  box-shadow: 4px 4px 0px 0px #131313;
}

.photos_button-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 0.3em;
  z-index: 2;
  position: sticky;
  top: 93% ;
	animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 1.5s;
}

.photos_button{
  border: none;
  padding: 0.3em;
  height: 3.3em;
  width: 3.3em;
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.photos_button:focus{
  background-color: #000000;
  color: white;
}

.photos_button-square{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0.3em solid #000000;
  border-right: none;
}

.photos_button-column{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0.3em solid #000000;
}

.photos_title span{
  display: inline-block;
  position: relative;
  transform: translateY(-100vh);
  animation: fall 0.5s forwards;
}

.photos_title span:nth-child(2){
  animation-delay: 0.3s;
}
.photos_title span:nth-child(3){
  animation-delay: 0.4s;
}
.photos_title span:nth-child(4){
  animation-delay: 0.5s;
}
.photos_title span:nth-child(5){
  animation-delay: 0.6s;
}
.photos_title span:nth-child(6){
  animation-delay: 0.7s;
}


@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 430px){

  .photos{
    padding-bottom: 8em;
width: 100%;
height: 94%;
  }

  .photos_button-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 0.3em;
    z-index: 2;
    position: sticky;
    top: 93% ;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 1.5s;
  }
}
