.contact{
  background-color: #FEF9EF;
  position: relative;
  width: 100%;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  width: 100%;
  height: 100%;
  font-family: 'thunderblack';
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.contact_form{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
  column-gap: 0px;
  row-gap: 0px;
}

.contact_form-input{
  background-color: #FEF9EF;
  font-size: 1.4em;
  font-family: 'Patrick Hand', cursive;
  box-shadow: inset -3px -3px 15px -4px #353535;
}

.contact_form-label--name{
  background-color: #227C9D;
  border: 4px solid black;
  grid-column: 6 / 8;
  grid-row: 2 ;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.contact_form-input--name{
  border: 4px solid black;
  grid-column: 1 / 6;
  grid-row: 2 ;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.contact_form-label--email{
  border: 4px solid black;
  background-color: #FFCB77;
  grid-column: 1 / 3;
  grid-row: 3 ;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.contact_form-input--email{
  border: 5px solid black;
  grid-column: 3 / 8;
  grid-row: 3 ;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.contact_form-text{
  background-color: #FEF9EF;
  border: 4px solid black;
  grid-column: 1 / 6;
  grid-row: 4 / 10 ;
  padding: 10px;
  font-size: 1.4em;
  font-family: 'Patrick Hand', cursive;
  box-shadow: inset -3px -3px 15px -4px #353535;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.contact_form-button{
  border: 4px solid black;
  background-color: #FFCB77;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 6 / 8;
  grid-row: 8 / 10 ;
  box-shadow: -21px -22px 0px -17px rgba(0,0,0,0.24) inset;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.thick-arrow-right {
  width: 45px;
  height: 45px;
  border: 10px solid black;
  border-left: 0;
  border-top: 0;
  transition: 0.3s;
  transform: rotate(315deg);
}

.thick-arrow-righte {
  width: 35px;
  height: 55px;
  border: 10px solid rgb(54, 148, 70);
  border-left: 0;
  border-top: 0;
  transition: 0.3s;
  transform: rotate(45deg);
}

.section_color-red{
  background-color: #FE6D73;
  border-left: 8px solid black;
  border-bottom: 4px solid black;
  grid-column: 2 / 8;
  grid-row: 1 / 2;
  font-size: 4em;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding-top: 8px;
}

.section_color-red span{
  display: inline-block;
  position: relative;
  transform: translateY(-100vh);
  animation: fall 0.5s forwards;
}

.section_color-red span:nth-child(2){
  animation-delay: 0.3s;
}
.section_color-red span:nth-child(3){
  animation-delay: 0.4s;
}
.section_color-red span:nth-child(4){
  animation-delay: 0.5s;
}
.section_color-red span:nth-child(5){
  animation-delay: 0.6s;
}
.section_color-red span:nth-child(6){
  animation-delay: 0.7s;
}
.section_color-red span:nth-child(7){
  animation-delay: 0.8s;
}

.section_color-green{
  border: 4px solid black;
  background-color: #17C3B2;
  grid-column: 6 / 8;
  grid-row: 4 / 8;
}

.section_color-blue{
  border-top: 4px solid black;
  background-color: #227C9D;
  grid-column: 1 / 8;
  grid-row: 10 / 11;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  display: flex;
  justify-content: center;
  padding-top: 0.7em;
}

.section_color-blue--link{
  color: rgb(5, 18, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.2em ;
  border-radius: 2em;
  width: 3em;
  height: 3em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 background-color: #FEF9EF;;

    &:hover{
      animation: jello-vertical 0.9s both;
    }
}

.contact_form-label{
  padding-top: 10px;
  font-size: 3em;
  text-align: center;
}

.contact_form-input{
  padding-left: 5px;
}

@media screen and (max-width: 430px){
  .contact{
    padding-bottom: 6em;
  }
}


@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fall {
  100%{
    transform: translateY(0);
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
